/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Silkscreen:700|Silkscreen:400');

body {
  font-family: 'Silkscreen';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Silkscreen';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/*Colors*/
/* Estilos por defecto (tema claro) */
:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #0d0d0d;
    --secondary: #4f4f4f;
    --accent: #e42121;
  }
  .dark-theme {
    --text: #ffffff;
    --background: #000000;
    --primary: #f2f2f2;
    --secondary: #b0b0b0;
    --accent: #de1b1b;
  }

body{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

/* Estilos para el contenedor principal */
.display-container {
  color: #000000;
  width: 300px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* Estilos para el display de entrada */
#input-display {
  color: #000000;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: right;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
}

/* Estilos para el display de resultado */
#result-display {
  color: #000000;
  background-color: #d9d9d9;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.num-div, .op-div, .equal-div {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary);
  text-align: center;
  cursor: pointer;
}

.equal-div {
  grid-column: span 2; /* Ocupa dos columnas */
}

/* Agrega estilos para hover o cualquier animación que desees */
.num-div:hover, .op-div:hover, .equal-div:hover {
  background-color: var(--accent);
  color: var(--background);
}
.num-div.clicked, .op-div.clicked, .equal-div.clicked {
  background-color: #f44336; /* Red */
  color: black;
}

/* Estilos para el botón */
#btnEliminar {
  margin-top: 10px;
  padding: 10px;
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#btnEliminar:hover {
  background-color: #c82333; /* Rojo oscuro al pasar el ratón */
}

footer {
  color: #ffffff;
  background-color: var(--primary);
  padding: 20px;
  text-align: center;
}

.about-section, .contact-section, .bottom-section {
  margin-bottom: 20px;
}

hr {
  border: 1px solid var(--text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fot-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: var(--secondary);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fot-icons:hover {
  background-color: var(--accent);
}

.fot-icons i {
  font-size: 24px;
  color: var(--text);
}

.bottom-section h3 {
  margin-top: 20px;
}